#elem-a {
  /*border: black solid .1rem;*/
  background: blue;
  width: 10rem;
  height: 10rem;
  border-bottom: black 5px solid;
}

#elem-b {
  background: red;
  width: 10rem;
  height: 10rem;
  transform: scale(2) rotate(45deg);
}

